<style>
    @import 'https://fonts.googleapis.com/css?family=VT323';

body,
h1,
h2,
h3,
h4,
p,
a { color: #e0e2f4; }

body,
p { font: normal 20px/1.25rem 'VT323', monospace; }
h1 { font: normal 2.75rem/1.05em 'VT323', monospace; }
h2 { font: normal 2.25rem/1.25em 'VT323', monospace; }
h3 { font: lighter 1.5rem/1.25em 'VT323', monospace; }
h4 { font: lighter 1.125rem/1.2222222em 'VT323', monospace; }

body { background: #0414a7;
text-align: center; }


</style>

<main class="bsod container">
    <h1 class="neg title"><span class="bg">Error - 404</span></h1>
    <p>An error has occured, to continue:</p>
    <p>* Return to our homepage.<br />
    * Send us an e-mail about this error and try later.</p>
    <nav class="nav">
      <a href="index.html" class="link">index</a>&nbsp;|&nbsp;<a href="#" class="link">webmaster</a>
    </nav>
  </main>